

body {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: paleturquoise;
}

.navbar {
    margin-bottom: 20px;
}

.container {
    margin-top: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: gold; 
    border-color: blue;
    border-radius: 20px; 
}

.btn-primary:hover {
    background-color: yellow; 
    border-color: rgb(23, 51, 172);
}


.container h1 {
    background-color: gold; 
    padding: 10px; 
}
